In [1]:
import pandas as pd

## Clean Dataset for Wife Contribution to family earnings

In [2]:
wifemoneyfilepath=r"C:\Users\Eleshia\Desktop\DA Boot Camp\Project1\DataSets\WifeContributionMoney.csv"
wifemoneydf=pd.read_csv(wifemoneyfilepath)
wifemoneydf

C:\Users\Eleshia\AppData\Local\Temp\ipykernel_35608\3652118033.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  wifemoneydf=pd.read_csv(wifemoneyfilepath)

,REF_DATE,GEO,DGUID,Wife's contribution to husband-wife family employment income,Husband-wife families,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Total husband-wife families,Number,223,units,0,v29568126,1.1.1,5723830.0,NaN,NaN,NaN,0
1,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Husband-wife families with no children,Number,223,units,0,v29568127,1.1.2,2202840.0,NaN,NaN,NaN,0
2,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Husband-wife families with 1 child,Number,223,units,0,v29568128,1.1.3,1340750.0,NaN,NaN,NaN,0
3,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Husband-wife families with 2 children,Number,223,units,0,v29568129,1.1.4,1497950.0,NaN,NaN,NaN,0
4,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Husband-wife families with 3 or more children,Number,223,units,0,v29568130,1.1.5,682290.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298115,2020,"Lloydminster, combined Alberta/Saskatchewan",2016S0504840,Husband-wife families where the wife contribut...,Husband-wife families with wives aged 65 years...,Number,223,units,0,v61777698,178.8.11,100.0,NaN,NaN,NaN,0
298116,2020,"Lloydminster, combined Alberta/Saskatchewan",2016S0504840,Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,Number,223,units,0,v61777699,178.8.12,230.0,NaN,NaN,NaN,0
298117,2020,"Lloydminster, combined Alberta/Saskatchewan",2016S0504840,Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,Number,223,units,0,v61777700,178.8.13,140.0,NaN,NaN,NaN,0
298118,2020,"Lloydminster, combined Alberta/Saskatchewan",2016S0504840,Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,Number,223,units,0,v61777701,178.8.14,100.0,NaN,NaN,NaN,0
298119,2020,"Lloydminster, combined Alberta/Saskatchewan",2016S0504840,Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,Number,223,units,0,v61777702,178.8.15,140.0,NaN,NaN,NaN,0

In [3]:
wifemoneydf.columns

Index(['REF_DATE', 'GEO', 'DGUID',
       'Wife's contribution to husband-wife family employment income',
       'Husband-wife families', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID',
       'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED',
       'DECIMALS'],
      dtype='object')

In [4]:
wmdf=wifemoneydf.rename(columns={
    
'REF_DATE':'Year', 'GEO':"Location",
       "Wife's contribution to husband-wife family employment income":"Wife Contribution",
       'Husband-wife families':"Husband and Wife Family"})
wmdf.head()

,Year,Location,DGUID,Wife Contribution,Husband and Wife Family,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Total husband-wife families,Number,223,units,0,v29568126,1.1.1,5723830.0,NaN,NaN,NaN,0
1,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Husband-wife families with no children,Number,223,units,0,v29568127,1.1.2,2202840.0,NaN,NaN,NaN,0
2,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Husband-wife families with 1 child,Number,223,units,0,v29568128,1.1.3,1340750.0,NaN,NaN,NaN,0
3,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Husband-wife families with 2 children,Number,223,units,0,v29568129,1.1.4,1497950.0,NaN,NaN,NaN,0
4,2000,Canada,2016A000011124,Number of husband-wife families with employmen...,Husband-wife families with 3 or more children,Number,223,units,0,v29568130,1.1.5,682290.0,NaN,NaN,NaN,0

In [5]:
wmdf.dtypes

Year                         int64
Location                    object
DGUID                       object
Wife Contribution           object
Husband and Wife Family     object
UOM                         object
UOM_ID                       int64
SCALAR_FACTOR               object
SCALAR_ID                    int64
VECTOR                      object
COORDINATE                  object
VALUE                      float64
STATUS                      object
SYMBOL                     float64
TERMINATED                  object
DECIMALS                     int64
dtype: object

In [6]:
wmdf.columns

Index(['Year', 'Location', 'DGUID', 'Wife Contribution',
       'Husband and Wife Family', 'UOM', 'UOM_ID', 'SCALAR_FACTOR',
       'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL',
       'TERMINATED', 'DECIMALS'],
      dtype='object')

In [7]:
wifedf=wmdf.loc[:, ['Year', 'Location', 'Wife Contribution',
       'Husband and Wife Family', 'VALUE']]
wifedf.head()

,Year,Location,Wife Contribution,Husband and Wife Family,VALUE
0,2000,Canada,Number of husband-wife families with employmen...,Total husband-wife families,5723830.0
1,2000,Canada,Number of husband-wife families with employmen...,Husband-wife families with no children,2202840.0
2,2000,Canada,Number of husband-wife families with employmen...,Husband-wife families with 1 child,1340750.0
3,2000,Canada,Number of husband-wife families with employmen...,Husband-wife families with 2 children,1497950.0
4,2000,Canada,Number of husband-wife families with employmen...,Husband-wife families with 3 or more children,682290.0

In [8]:
finalwifedf=wifedf.set_index('Year')
finalwifedf

,Location,Wife Contribution,Husband and Wife Family,VALUE
Year,,,,
2000,Canada,Number of husband-wife families with employmen...,Total husband-wife families,5723830.0
2000,Canada,Number of husband-wife families with employmen...,Husband-wife families with no children,2202840.0
2000,Canada,Number of husband-wife families with employmen...,Husband-wife families with 1 child,1340750.0
2000,Canada,Number of husband-wife families with employmen...,Husband-wife families with 2 children,1497950.0
2000,Canada,Number of husband-wife families with employmen...,Husband-wife families with 3 or more children,682290.0
...,...,...,...,...
2020,"Lloydminster, combined Alberta/Saskatchewan",Husband-wife families where the wife contribut...,Husband-wife families with wives aged 65 years...,100.0
2020,"Lloydminster, combined Alberta/Saskatchewan",Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,230.0
2020,"Lloydminster, combined Alberta/Saskatchewan",Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,140.0
2020,"Lloydminster, combined Alberta/Saskatchewan",Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,100.0
2020,"Lloydminster, combined Alberta/Saskatchewan",Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,140.0

In [9]:
finalwifedf['Location'].unique()

array(['Canada', 'Newfoundland and Labrador',
       "St. John's, Newfoundland and Labrador", 'Prince Edward Island',
       'Nova Scotia', 'Halifax, Nova Scotia', 'New Brunswick',
       'Saint John, New Brunswick', 'Quebec', 'Saguenay, Quebec',
       'QuÃ©bec, Quebec', 'Sherbrooke, Quebec', 'Trois-RiviÃ¨res, Quebec',
       'MontrÃ©al, Quebec', 'Ottawa-Gatineau, Quebec part', 'Ontario',
       'Ottawa-Gatineau, Ontario part', 'Oshawa, Ontario',
       'Toronto, Ontario', 'Hamilton, Ontario',
       'St. Catharines-Niagara, Ontario',
       'Kitchener-Cambridge-Waterloo, Ontario', 'London, Ontario',
       'Windsor, Ontario', 'Greater Sudbury, Ontario',
       'Thunder Bay, Ontario', 'Manitoba', 'Winnipeg, Manitoba',
       'Saskatchewan', 'Regina, Saskatchewan', 'Saskatoon, Saskatchewan',
       'Alberta', 'Calgary, Alberta', 'Edmonton, Alberta',
       'British Columbia', 'Vancouver, British Columbia',
       'Victoria, British Columbia', 'Yukon', 'Northwest Territories',
       'Nunavut', 'Kingston, Ontario',
       'Abbotsford-Mission, British Columbia', 'Moncton, New Brunswick',
       'Peterborough, Ontario', 'Brantford, Ontario', 'Guelph, Ontario',
       'Barrie, Ontario', 'Kelowna, British Columbia',
       'Bay Roberts, Newfoundland and Labrador',
       'Grand Falls-Windsor, Newfoundland and Labrador',
       'Corner Brook, Newfoundland and Labrador',
       'Non CMA-CA, Newfoundland and Labrador',
       'Charlottetown, Prince Edward Island',
       'Summerside, Prince Edward Island',
       'Non CMA-CA, Prince Edward Island', 'Kentville, Nova Scotia',
       'Truro, Nova Scotia', 'New Glasgow, Nova Scotia',
       'Cape Breton, Nova Scotia', 'Non CMA-CA, Nova Scotia',
       'Fredericton, New Brunswick', 'Bathurst, New Brunswick',
       'Miramichi, New Brunswick', 'Campbellton, New Brunswick part',
       'Edmundston, New Brunswick', 'Non CMA-CA, New Brunswick',
       'Campbellton, Quebec part', 'Matane, Quebec', 'Rimouski, Quebec',
       'RiviÃ¨re-du-loup, Quebec', 'Baie-Comeau, Quebec', 'Alma, Quebec',
       'Dolbeau-Mistassini, Quebec', 'Sept-ÃŽles, Quebec',
       'Saint-Georges, Quebec', 'Thetford Mines, Quebec',
       'Cowansville, Quebec', 'Victoriaville, Quebec',
       'Shawinigan, Quebec', 'La Tuque, Quebec', 'Drummondville, Quebec',
       'Granby, Quebec', 'Saint-Hyacinthe, Quebec', 'Sorel-Tracy, Quebec',
       'Joliette, Quebec', 'Saint-Jean-sur-Richelieu, Quebec',
       'Salaberry-de-Valleyfield, Quebec', 'Lachute, Quebec',
       "Val-d'Or, Quebec", 'Amos, Quebec', 'Rouyn-Noranda, Quebec',
       'Hawkesbury, Quebec part', 'Non CMA-CA, Quebec',
       'Cornwall, Ontario', 'Hawkesbury, Ontario part',
       'Brockville, Ontario', 'Pembroke, Ontario', 'Petawawa, Ontario',
       'Belleville, Ontario', 'Cobourg, Ontario', 'Port Hope, Ontario',
       'Kawartha Lakes, Ontario', 'Centre Wellington, Ontario',
       'Ingersoll, Ontario', 'Woodstock, Ontario', 'Tillsonburg, Ontario',
       'Norfolk, Ontario', 'Stratford, Ontario', 'Chatham-Kent, Ontario',
       'Leamington, Ontario', 'Sarnia, Ontario', 'Owen Sound, Ontario',
       'Collingwood , Ontario', 'Orillia, Ontario', 'Midland, Ontario',
       'North Bay, Ontario', 'Elliot Lake, Ontario',
       'Temiskaming Shores, Ontario', 'Timmins, Ontario',
       'Sault Ste. Marie, Ontario', 'Kenora, Ontario',
       'Non CMA-CA, Ontario', 'Portage la Prairie, Manitoba',
       'Brandon, Manitoba', 'Thompson, Manitoba', 'Non CMA-CA, Manitoba',
       'Yorkton, Saskatchewan', 'Moose Jaw, Saskatchewan',
       'Swift Current, Saskatchewan', 'North Battleford, Saskatchewan',
       'Prince Albert, Saskatchewan', 'Estevan, Saskatchewan',
       'Lloydminster, Saskatchewan part', 'Non CMA-CA, Saskatchewan',
       'Medicine Hat, Alberta', 'Brooks, Alberta', 'Lethbridge, Alberta',
       'Okotoks, Alberta', 'Canmore, Alberta', 'Red Deer, Alberta',
       'Camrose, Alberta', 'Lloydminster, Alberta part',
       'Cold Lake, Alberta', 'Grande Prairie, Alberta',
       'Wood Buffalo, Alberta', 'Wetaskiwin, Alberta',
       'Non CMA-CA, Alberta', 'Cranbrook, British Columbia',
       'Penticton, British Columbia', 'Vernon, British Columbia',
       'Salmon Arm, British Columbia', 'Kamloops, British Columbia',
       'Chilliwack, British Columbia', 'Squamish, British Columbia',
       'Duncan, British Columbia', 'Nanaimo, British Columbia',
       'Parksville, British Columbia', 'Port Alberni, British Columbia',
       'Courtenay, British Columbia', 'Campbell River, British Columbia',
       'Powell River, British Columbia',
       'Williams Lake, British Columbia', 'Quesnel, British Columbia',
       'Prince Rupert, British Columbia', 'Kitimat, British Columbia',
       'Terrace, British Columbia', 'Prince George, British Columbia',
       'Dawson Creek, British Columbia',
       'Fort St. John, British Columbia', 'Non CMA-CA, British Columbia',
       'Whitehorse, Yukon', 'Non CMA-CA, Yukon',
       'Yellowknife, Northwest Territories',
       'Non CMA-CA, Northwest Territories',
       'Campbellton, combined New Brunswick/Quebec',
       'Hawkesbury, combined Ontario/Quebec',
       'Ottawa - Gatineau, combined Ontario/Quebec',
       'Lloydminster, combined Alberta/Saskatchewan',
       'Steinbach, Manitoba', 'High River, Alberta',
       'Strathmore, Alberta', 'Sylvan Lake, Alberta', 'Lacombe, Alberta',
       'Gander, Newfoundland and Labrador', 'Sainte-Marie, Quebec',
       'Arnprior, Ontario', 'Carleton Place, Ontario',
       'Wasaga Beach, Ontario', 'Winkler, Manitoba',
       'Weyburn, Saskatchewan', 'Nelson, British Columbia'], dtype=object)

In [10]:
wife_filtered=finalwifedf[finalwifedf['Location'] == 'Ontario']
wife_filtered

,Location,Wife Contribution,Husband and Wife Family,VALUE
Year,,,,
2000,Ontario,Number of husband-wife families with employmen...,Total husband-wife families,2189340.0
2000,Ontario,Number of husband-wife families with employmen...,Husband-wife families with no children,819240.0
2000,Ontario,Number of husband-wife families with employmen...,Husband-wife families with 1 child,520400.0
2000,Ontario,Number of husband-wife families with employmen...,Husband-wife families with 2 children,584540.0
2000,Ontario,Number of husband-wife families with employmen...,Husband-wife families with 3 or more children,265170.0
...,...,...,...,...
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with wives aged 65 years...,67650.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,130850.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,55430.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,44790.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with employment income o...,71770.0

In [11]:
print(wife_filtered['Husband and Wife Family'].unique())
print(wife_filtered['Wife Contribution'].unique())

['Total husband-wife families' 'Husband-wife families with no children'
 'Husband-wife families with 1 child'
 'Husband-wife families with 2 children'
 'Husband-wife families with 3 or more children'
 'Husband-wife families with wives aged 0 to 24 years'
 'Husband-wife families with wives aged 25 to 34 years'
 'Husband-wife families with wives aged 35 to 44 years'
 'Husband-wife families with wives aged 45 to 54 years'
 'Husband-wife families with wives aged 55 to 64 years'
 'Husband-wife families with wives aged 65 years and over'
 'Husband-wife families with employment income of $1 to $19,999'
 'Husband-wife families with employment income of $20,000 to $39,999'
 'Husband-wife families with employment income of $40,000 to $59,999'
 'Husband-wife families with employment income of $60,000 or more']
['Number of husband-wife families with employment income'
 'Husband-wife families where the wife contributes 0% of employment income'
 'Husband-wife families where the wife contributes 1% to 25% of employment income'
 'Husband-wife families where the wife contributes 26% to 50% of employment income'
 'Husband-wife families where the wife contributes 51% to 75% of employment income'
 'Husband-wife families where the wife contributes 76% to 99% of employment income'
 'Husband-wife families where the wife contributes 100% of employment income'
 'Average contribution of the wife to husband-wife family employment income'
 'Median contribution of the wife to husband-wife family employment income']

In [12]:
one_child=wife_filtered[wife_filtered['Husband and Wife Family'].str.contains('Husband-wife families with 1 child')]
one_child

,Location,Wife Contribution,Husband and Wife Family,VALUE
Year,,,,
2000,Ontario,Number of husband-wife families with employmen...,Husband-wife families with 1 child,520400.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,97180.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,106880.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,183190.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,71990.0
...,...,...,...,...
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,118200.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,181620.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,98360.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,41940.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,63100.0

In [13]:
one_childdf=one_child[one_child['Wife Contribution'].str.contains('Husband-wife families where the wife contributes 26% to 50% of employment income')]
one_childdf

,Location,Wife Contribution,Husband and Wife Family,VALUE
Year,,,,
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,183190.0
2001,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,193340.0
2002,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,193050.0
2003,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,196420.0
2004,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,201650.0
2005,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,208720.0
2006,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,203430.0
2007,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,202070.0
2008,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,200890.0
2009,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,191970.0
2010,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,191430.0
2011,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,193040.0
2012,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,192240.0
2013,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,192110.0
2014,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,192390.0
2015,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,191850.0
2016,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,194090.0
2017,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,194840.0
2018,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,199640.0
2019,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,201380.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 1 child,181620.0

In [14]:
two_childdf=wife_filtered[wife_filtered['Husband and Wife Family'].str.contains('Husband-wife families with 2 children')]
two_childdf[two_childdf['Wife Contribution'].str.contains('Husband-wife families where the wife contributes 26% to 50% of employment income')]
two_childdf

,Location,Wife Contribution,Husband and Wife Family,VALUE
Year,,,,
2000,Ontario,Number of husband-wife families with employmen...,Husband-wife families with 2 children,584540.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,99750.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,138430.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,217660.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,79210.0
...,...,...,...,...
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,143440.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,233860.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,121890.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,42060.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,44330.0

In [15]:
three_childdf=wife_filtered[wife_filtered['Husband and Wife Family'].str.contains('Husband-wife families with 2 children')]
three_childdf[three_childdf['Wife Contribution'].str.contains('Husband-wife families where the wife contributes 26% to 50% of employment income')]
three_childdf

,Location,Wife Contribution,Husband and Wife Family,VALUE
Year,,,,
2000,Ontario,Number of husband-wife families with employmen...,Husband-wife families with 2 children,584540.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,99750.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,138430.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,217660.0
2000,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,79210.0
...,...,...,...,...
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,143440.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,233860.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,121890.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,42060.0
2020,Ontario,Husband-wife families where the wife contribut...,Husband-wife families with 2 children,44330.0

In [16]:
wife_filtered.to_csv(r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Cleaned_Datasets\wife_contribution.csv",
                    encoding="Utf-8", index=True, header=True)

In [17]:
one_childdf.to_csv(r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Cleaned_Datasets\One Child Family.csv",
                    encoding="Utf-8", index=True, header=True)

In [18]:
two_childdf.to_csv(r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Cleaned_Datasets\Two Child Family.csv",
                    encoding="Utf-8", index=True, header=True)
three_childdf.to_csv(r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Cleaned_Datasets\Three or More Child Family.csv",
                    encoding="Utf-8", index=True, header=True)

## Next DataSet to clean... Number of Divorces

In [19]:
divorcedfilepath=r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\NumberOfDivorces-Canada-39100053-eng\39100053.csv"
div_df=pd.read_csv(divorcedfilepath)
div_df.head()

C:\Users\Eleshia\AppData\Local\Temp\ipykernel_35608\713897073.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  div_df=pd.read_csv(divorcedfilepath)

,REF_DATE,GEO,DGUID,Sex or gender,Age at divorce,Indicator,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1970,Canada,2016A000011124,Both sexes,All ages,Number of divorces,Number,223,units,0,v1331259403,1.1.1.1,58605.0,NaN,NaN,NaN,0
1,1970,Canada,2016A000011124,Both sexes,Under 20 years,Number of divorces,Number,223,units,0,v1331259392,1.1.2.1,153.0,NaN,NaN,NaN,0
2,1970,Canada,2016A000011124,Both sexes,20 to 24 years,Number of divorces,Number,223,units,0,v1331259393,1.1.3.1,4824.0,NaN,NaN,NaN,0
3,1970,Canada,2016A000011124,Both sexes,25 to 29 years,Number of divorces,Number,223,units,0,v1331259394,1.1.4.1,10536.0,NaN,NaN,NaN,0
4,1970,Canada,2016A000011124,Both sexes,30 to 34 years,Number of divorces,Number,223,units,0,v1331259395,1.1.5.1,9903.0,NaN,NaN,NaN,0

In [20]:
div_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Sex or gender', 'Age at divorce',
       'Indicator', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR',
       'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [21]:
renamediv=div_df.rename(columns={'REF_DATE':'Year', 'GEO':'Location', 'UOM':'Unit Of Measure'})
renamediv.sample()

,Year,Location,DGUID,Sex or gender,Age at divorce,Indicator,Unit Of Measure,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
10220,1991,Quebec,2016A000224,Males,30 to 34 years,Number of divorces,Number,223,units,0,v1331259095,6.2.5.1,3945.0,NaN,NaN,NaN,0

In [22]:
newdiv_df=renamediv.set_index('Year')
newdiv_df.sample()

,Location,DGUID,Sex or gender,Age at divorce,Indicator,Unit Of Measure,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
Year,,,,,,,,,,,,,,,,
2003,Nova Scotia,2016A000212,Both sexes,All ages,Divorce rate,"Rate per 1,000 married persons",424,units,0,v1331259511,4.1.1.2,9.5,NaN,NaN,NaN,1

In [23]:
filtered_divorced_df=newdiv_df.loc[:,['Location','Sex or gender', 'Age at divorce',
       'Indicator','Unit Of Measure', 'VALUE' ]]
filtered_divorced_df

,Location,Sex or gender,Age at divorce,Indicator,Unit Of Measure,VALUE
Year,,,,,,
1970,Canada,Both sexes,All ages,Number of divorces,Number,58605.0
1970,Canada,Both sexes,Under 20 years,Number of divorces,Number,153.0
1970,Canada,Both sexes,20 to 24 years,Number of divorces,Number,4824.0
1970,Canada,Both sexes,25 to 29 years,Number of divorces,Number,10536.0
1970,Canada,Both sexes,30 to 34 years,Number of divorces,Number,9903.0
...,...,...,...,...,...,...
2020,Nunavut,Females,55 to 59 years,Divorce rate,"Rate per 1,000 married persons",6.2
2020,Nunavut,Females,60 to 64 years,Number of divorces,Number,0.0
2020,Nunavut,Females,60 to 64 years,Divorce rate,"Rate per 1,000 married persons",0.0
2020,Nunavut,Females,65 years and over,Number of divorces,Number,0.0
2020,Nunavut,Females,65 years and over,Divorce rate,"Rate per 1,000 married persons",0.0

In [24]:
filtered_divorced_df['Location'].unique()

array(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island',
       'Nova Scotia', 'New Brunswick', 'Quebec', 'Ontario', 'Manitoba',
       'Saskatchewan', 'Alberta', 'British Columbia', 'Yukon',
       'Northwest Territories including Nunavut', 'Northwest Territories',
       'Nunavut'], dtype=object)

In [25]:
Ontario_divorced=filtered_divorced_df[filtered_divorced_df['Location'] == 'Ontario']
Ontario_divorced

,Location,Sex or gender,Age at divorce,Indicator,Unit Of Measure,VALUE
Year,,,,,,
1970,Ontario,Both sexes,All ages,Number of divorces,Number,24012.0
1970,Ontario,Both sexes,Under 20 years,Number of divorces,Number,42.0
1970,Ontario,Both sexes,20 to 24 years,Number of divorces,Number,1698.0
1970,Ontario,Both sexes,25 to 29 years,Number of divorces,Number,4242.0
1970,Ontario,Both sexes,30 to 34 years,Number of divorces,Number,4194.0
...,...,...,...,...,...,...
2020,Ontario,Both sexes,55 to 59 years,Divorce rate,"Rate per 1,000 married persons",4.3
2020,Ontario,Both sexes,60 to 64 years,Number of divorces,Number,1827.0
2020,Ontario,Both sexes,60 to 64 years,Divorce rate,"Rate per 1,000 married persons",2.7
2020,Ontario,Both sexes,65 years and over,Number of divorces,Number,1329.0
2020,Ontario,Both sexes,65 years and over,Divorce rate,"Rate per 1,000 married persons",0.8

In [52]:
Ontario_divorced_df1=Ontario_divorced[Ontario_divorced['Age at divorce'].str.contains('^All ages$')]
Ontario_divorced_df1

,Location,Sex or gender,Age at divorce,Indicator,Unit Of Measure,VALUE
Year,,,,,,
1970,Ontario,Both sexes,All ages,Number of divorces,Number,24012.0
1970,Ontario,Males,All ages,Number of divorces,Number,12006.0
1970,Ontario,Females,All ages,Number of divorces,Number,12006.0
1971,Ontario,Both sexes,All ages,Number of divorces,Number,24609.0
1971,Ontario,Males,All ages,Number of divorces,Number,12306.0
...,...,...,...,...,...,...
2018,Ontario,Both sexes,All ages,Divorce rate,"Rate per 1,000 married persons",8.1
2019,Ontario,Both sexes,All ages,Number of divorces,Number,44754.0
2019,Ontario,Both sexes,All ages,Divorce rate,"Rate per 1,000 married persons",7.1
2020,Ontario,Both sexes,All ages,Number of divorces,Number,28446.0
2020,Ontario,Both sexes,All ages,Divorce rate,"Rate per 1,000 married persons",4.4

In [55]:
Ontario_divorced_df2=Ontario_divorced_df1[Ontario_divorced_df1['Indicator'].str.contains('^Number of divorces$')]
Ontario_divorced_df2

,Location,Sex or gender,Age at divorce,Indicator,Unit Of Measure,VALUE
Year,,,,,,
1970,Ontario,Both sexes,All ages,Number of divorces,Number,24012.0
1970,Ontario,Males,All ages,Number of divorces,Number,12006.0
1970,Ontario,Females,All ages,Number of divorces,Number,12006.0
1971,Ontario,Both sexes,All ages,Number of divorces,Number,24609.0
1971,Ontario,Males,All ages,Number of divorces,Number,12306.0
...,...,...,...,...,...,...
2017,Ontario,Males,All ages,Number of divorces,Number,25113.0
2017,Ontario,Females,All ages,Number of divorces,Number,25284.0
2018,Ontario,Both sexes,All ages,Number of divorces,Number,50469.0
2019,Ontario,Both sexes,All ages,Number of divorces,Number,44754.0
2020,Ontario,Both sexes,All ages,Number of divorces,Number,28446.0

In [56]:
Ontario_divorced_df=Ontario_divorced_df2[Ontario_divorced_df2['Sex or gender'].str.contains('^Both sexes$')]
Ontario_divorced_df

,Location,Sex or gender,Age at divorce,Indicator,Unit Of Measure,VALUE
Year,,,,,,
1970,Ontario,Both sexes,All ages,Number of divorces,Number,24012.0
1971,Ontario,Both sexes,All ages,Number of divorces,Number,24609.0
1972,Ontario,Both sexes,All ages,Number of divorces,Number,26496.0
1973,Ontario,Both sexes,All ages,Number of divorces,Number,27714.0
1974,Ontario,Both sexes,All ages,Number of divorces,Number,30768.0
1975,Ontario,Both sexes,All ages,Number of divorces,Number,35148.0
1976,Ontario,Both sexes,All ages,Number of divorces,Number,37311.0
1977,Ontario,Both sexes,All ages,Number of divorces,Number,39618.0
1978,Ontario,Both sexes,All ages,Number of divorces,Number,41385.0
1979,Ontario,Both sexes,All ages,Number of divorces,Number,43881.0
1980,Ontario,Both sexes,All ages,Number of divorces,Number,45291.0
1981,Ontario,Both sexes,All ages,Number of divorces,Number,43911.0
1982,Ontario,Both sexes,All ages,Number of divorces,Number,47934.0
1983,Ontario,Both sexes,All ages,Number of divorces,Number,46653.0
1984,Ontario,Both sexes,All ages,Number of divorces,Number,43782.0
1985,Ontario,Both sexes,All ages,Number of divorces,Number,42381.0
1986,Ontario,Both sexes,All ages,Number of divorces,Number,54177.0
1987,Ontario,Both sexes,All ages,Number of divorces,Number,78870.0
1988,Ontario,Both sexes,All ages,Number of divorces,Number,65634.0
1989,Ontario,Both sexes,All ages,Number of divorces,Number,63114.0
1990,Ontario,Both sexes,All ages,Number of divorces,Number,59409.0
1991,Ontario,Both sexes,All ages,Number of divorces,Number,56460.0
1992,Ontario,Both sexes,All ages,Number of divorces,Number,61830.0
1993,Ontario,Both sexes,All ages,Number of divorces,Number,59127.0
1994,Ontario,Both sexes,All ages,Number of divorces,Number,62604.0
1995,Ontario,Both sexes,All ages,Number of divorces,Number,59862.0
1996,Ontario,Both sexes,All ages,Number of divorces,Number,51198.0
1997,Ontario,Both sexes,All ages,Number of divorces,Number,48483.0
1998,Ontario,Both sexes,All ages,Number of divorces,Number,50931.0
1999,Ontario,Both sexes,All ages,Number of divorces,Number,52674.0
2000,Ontario,Both sexes,All ages,Number of divorces,Number,53004.0
2001,Ontario,Both sexes,All ages,Number of divorces,Number,53340.0
2002,Ontario,Both sexes,All ages,Number of divorces,Number,52710.0
2003,Ontario,Both sexes,All ages,Number of divorces,Number,55239.0
2004,Ontario,Both sexes,All ages,Number of divorces,Number,52956.0
2005,Ontario,Both sexes,All ages,Number of divorces,Number,57906.0
2006,Ontario,Both sexes,All ages,Number of divorces,Number,64131.0
2007,Ontario,Both sexes,All ages,Number of divorces,Number,62637.0
2008,Ontario,Both sexes,All ages,Number of divorces,Number,59568.0
2009,Ontario,Both sexes,All ages,Number of divorces,Number,59088.0
2010,Ontario,Both sexes,All ages,Number of divorces,Number,58713.0
2011,Ontario,Both sexes,All ages,Number of divorces,Number,57270.0
2012,Ontario,Both sexes,All ages,Number of divorces,Number,56919.0
2013,Ontario,Both sexes,All ages,Number of divorces,Number,54798.0
2014,Ontario,Both sexes,All ages,Number of divorces,Number,50838.0
2015,Ontario,Both sexes,All ages,Number of divorces,Number,51318.0
2016,Ontario,Both sexes,All ages,Number of divorces,Number,49080.0
2017,Ontario,Both sexes,All ages,Number of divorces,Number,50397.0
2018,Ontario,Both sexes,All ages,Number of divorces,Number,50469.0
2019,Ontario,Both sexes,All ages,Number of divorces,Number,44754.0
2020,Ontario,Both sexes,All ages,Number of divorces,Number,28446.0

In [75]:
print(f'The year with the most number of divorces is {Ontario_divorced_df["VALUE"].idxmax()}, with {round(Ontario_divorced_df["VALUE"].max())} divorces')
print(f'The year with the least number of divorces is {Ontario_divorced_df["VALUE"].idxmin()} with {round(Ontario_divorced_df["VALUE"].min())} divorces')

The year with the most number of divorces is 1987, with 78870 divorces
The year with the least number of divorces is 1970 with 24012 divorces

In [57]:
Ontario_divorced_df.to_csv(r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Cleaned_Datasets\Ontario_Number_of_Divorces.csv",
                    encoding="Utf-8", index=True, header=True)

## 3rd Dataset to clean...Renters

In [27]:
rentersfilepath=r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Renters - 39100039-eng\39100039.csv"
renters_df=pd.read_csv(rentersfilepath)
renters_df.head()

,REF_DATE,GEO,DGUID,Occupancy status,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1996,Canada,00,"Total, households",Percent,239,units,0,v4299273,1.1,26.5,NaN,NaN,NaN,1
1,1996,Canada,00,Renters,Percent,239,units,0,v4299274,1.2,43.0,NaN,NaN,NaN,1
2,1996,Canada,00,Owners,Percent,239,units,0,v4299275,1.3,16.9,NaN,NaN,NaN,1
3,1996,Newfoundland and Labrador,10,"Total, households",Percent,239,units,0,v4299276,2.1,19.1,NaN,NaN,NaN,1
4,1996,Newfoundland and Labrador,10,Renters,Percent,239,units,0,v4299277,2.2,43.2,NaN,NaN,NaN,1

In [28]:
renters_df['REF_DATE'].unique()

array([1996], dtype=int64)

In [29]:
renters_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Occupancy status', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [30]:
renamerenters=renters_df.rename(columns={'REF_DATE':'Year', 'GEO':'Location', 'UOM':'Unit Of Measure'})
renamerenters.sample()

,Year,Location,DGUID,Occupancy status,Unit Of Measure,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
377,1996,"Chinook Regional Health Authority, Alberta",4801,"Total, households",Percent,239,units,0,v4299650,128.1,19.9,NaN,NaN,NaN,1

In [31]:
newrentersdf=renamerenters.set_index('Year')
newrentersdf.head()

,Location,DGUID,Occupancy status,Unit Of Measure,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
Year,,,,,,,,,,,,,,
1996,Canada,00,"Total, households",Percent,239,units,0,v4299273,1.1,26.5,NaN,NaN,NaN,1
1996,Canada,00,Renters,Percent,239,units,0,v4299274,1.2,43.0,NaN,NaN,NaN,1
1996,Canada,00,Owners,Percent,239,units,0,v4299275,1.3,16.9,NaN,NaN,NaN,1
1996,Newfoundland and Labrador,10,"Total, households",Percent,239,units,0,v4299276,2.1,19.1,NaN,NaN,NaN,1
1996,Newfoundland and Labrador,10,Renters,Percent,239,units,0,v4299277,2.2,43.2,NaN,NaN,NaN,1

In [32]:
filtered_rentersdf=newrentersdf.loc[:,['Location','Occupancy status','Unit Of Measure', 'VALUE' ]]
filtered_rentersdf

                       Location   Occupancy status Unit Of Measure  VALUE
Year
1996                     Canada  Total, households         Percent   26.5
1996                     Canada            Renters         Percent   43.0
1996                     Canada             Owners         Percent   16.9
1996  Newfoundland and Labrador  Total, households         Percent   19.1
1996  Newfoundland and Labrador            Renters         Percent   43.2
...                         ...                ...             ...    ...
1996                    Nunavut            Renters         Percent    7.4
1996                    Nunavut             Owners         Percent    8.6
1996                    Nunavut  Total, households         Percent    7.6
1996                    Nunavut            Renters         Percent    7.4
1996                    Nunavut             Owners         Percent    8.6

[515 rows x 4 columns]

In [33]:
filtered_rentersdf['Location'].unique()

array(['Canada', 'Newfoundland and Labrador',
       "Health and Community Services St. John's Region, Newfoundland and Labrador",
       'Health and Community Services Eastern Region, Newfoundland and Labrador',
       'Health and Community Services Central Region, Newfoundland and Labrador',
       'Health and Community Services Western Region, Newfoundland and Labrador',
       'Grenfell Regional Health Services Board, Newfoundland and Labrador',
       'Health Labrador Corporation, Newfoundland and Labrador',
       'Prince Edward Island',
       'Urban Health Region, Prince Edward Island',
       'Rural Health Region, Prince Edward Island', 'Nova Scotia',
       'Zone 1, Nova Scotia', 'Zone 2, Nova Scotia',
       'Zone 3, Nova Scotia', 'Zone 4, Nova Scotia',
       'Zone 5, Nova Scotia', 'Zone 6, Nova Scotia', 'New Brunswick',
       'Region 1, New Brunswick', 'Region 2, New Brunswick',
       'Region 3, New Brunswick', 'Region 4, New Brunswick',
       'Region 5, New Brunswick', 'Region 6, New Brunswick',
       'Region 7, New Brunswick', 'QuÃ©bec',
       'RÃ©gion du Bas-Saint-Laurent, QuÃ©bec',
       'RÃ©gion du Saguenay-Lac-Saint-Jean, QuÃ©bec',
       'RÃ©gion de QuÃ©bec, QuÃ©bec',
       'RÃ©gion de la Mauricie et Centre-du-QuÃ©bec, QuÃ©bec',
       "RÃ©gion de l'Estrie, QuÃ©bec", 'RÃ©gion de MontrÃ©al-Centre, QuÃ©bec',
       "RÃ©gion de l'Outaouais, QuÃ©bec",
       "RÃ©gion de l'Abitibi-TÃ©miscamingue, QuÃ©bec",
       'RÃ©gion de la CÃ´te-Nord, QuÃ©bec',
       'RÃ©gion du Nord-du-QuÃ©bec, QuÃ©bec',
       'RÃ©gion de la GaspÃ©sie-ÃŽles-de-la-Madeleine, QuÃ©bec',
       'RÃ©gion de la ChaudiÃ¨re-Appalaches, QuÃ©bec',
       'RÃ©gion de Laval, QuÃ©bec', 'RÃ©gion de LanaudiÃ¨re, QuÃ©bec',
       'RÃ©gion des Laurentides, QuÃ©bec',
       'RÃ©gion de la MontÃ©rÃ©gie, QuÃ©bec', 'RÃ©gion du Nunavik, QuÃ©bec',
       'Ontario by District Health Council',
       'Champlain District Health Council, Ontario',
       'Quinte-Kingston and Rideau DHC, Ontario',
       'Durham-Haliburton-Kawartha and Pine Ridge DHC, Ontario',
       'Toronto District Health Council, Ontario',
       'Simcoe-York District Health Council, Ontario',
       'Halton-Peel District Health Council, Ontario',
       'Waterloo-Wellington-Dufferin DHC, Ontario',
       'Hamilton-Wentworth DHC, Ontario',
       'Niagara District Health Council, Ontario',
       'Grand River DHC, Ontario', 'Thames Valley DHC, Ontario',
       'Essex-Kent and Lambton DHC, Ontario',
       'Grey-Bruce-Huron and Perth DHC, Ontario',
       'Muskoka-Nipissing and Parry Sound DHC, Ontario',
       'Algoma-Cochrane-Manitoulin and Sudbury DHC, Ontario',
       'Northwestern Ontario DHC, Ontario', 'Ontario by Health Unit',
       'Algoma Public Health Unit, Ontario',
       'Brant Public Health Unit, Ontario',
       'Durham Public Health Unit, Ontario',
       'Elgin-St Thomas Public Health Unit, Ontario',
       'Bruce-Grey-Owen Sound Public Health Unit, Ontario',
       'Haldimand-Norfolk Public Health Unit, Ontario',
       'Haliburton-Kawartha-Pine Ridge Public Health Unit, Ontario',
       'Halton Public Health Unit, Ontario',
       'Hamilton Public Health Unit, Ontario',
       'Hastings and Prince Edward Public Health Unit, Ontario',
       'Huron Public Health Unit, Ontario',
       'Kent-Chatham Public Health Unit, Ontario',
       'Kingston-Frontenac-Lennox and Addington Public Health Unit, Ontario',
       'Lambton Public Health Unit, Ontario',
       'Leeds-Grenville-Lanark Public Health Unit, Ontario',
       'Middlesex-London Public Health Unit, Ontario',
       'Muskoka-Parry Sound Public Health Unit, Ontario',
       'Niagara Public Health Unit, Ontario',
       'North Bay Public Health Unit, Ontario',
       'Northwestern Public Health Unit, Ontario',
       'Ottawa Public Health Unit, Ontario',
       'Oxford Public Health Unit, Ontario',
       'Peel Public Health Unit, Ontario',
       'Perth Public Health Unit, Ontario',
       'Peterborough Public Health Unit, Ontario',
       'Porcupine Public Health Unit, Ontario',
       'Renfrew Public Health Unit, Ontario',
       'Eastern Ontario Public Health Unit, Ontario',
       'Simcoe Public Health Unit, Ontario',
       'Sudbury Public Health Unit, Ontario',
       'Thunder Bay Public Health Unit, Ontario',
       'Timiskaming Public Health Unit, Ontario',
       'Waterloo Public Health Unit, Ontario',
       'Wellington-Dufferin-Guelph Public Health Unit, Ontario',
       'Windsor-Essex Public Health Unit, Ontario',
       'York Public Health Unit, Ontario',
       'Toronto Public Health Unit, Ontario', 'Manitoba',
       'Winnipeg, Manitoba', 'Brandon, Manitoba',
       'North Eastman, Manitoba', 'South Eastman, Manitoba',
       'Interlake, Manitoba', 'Central, Manitoba', 'Marquette, Manitoba',
       'South Westman, Manitoba', 'Parkland, Manitoba',
       'Norman, Manitoba', 'Burntwood and Churchill, Manitoba',
       'Burntwood, Manitoba', 'Churchill, Manitoba', 'Saskatchewan',
       'Weyburn (A) Service Area, Saskatchewan',
       'Moose Jaw (B) Service Area, Saskatchewan',
       'Swift Current (C) Service Area, Saskatchewan',
       'Regina (D) Service Area, Saskatchewan',
       'Yorkton (E) Service Area, Saskatchewan',
       'Saskatoon (F) Service Area, Saskatchewan',
       'Rosetown (G) Service Area, Saskatchewan',
       'Melfort (H) Service Area, Saskatchewan',
       'Prince Albert (I) Service Area, Saskatchewan',
       'North Battleford (J) Service Area, Saskatchewan',
       'Northern Health Services Branch (K), Saskatchewan', 'Alberta',
       'Chinook Regional Health Authority, Alberta',
       'Palliser Health Authority, Alberta',
       'Headwaters Health Authority, Alberta',
       'Calgary Regional Health Authority, Alberta',
       'Health Authority #5, Alberta',
       'David Thompson Regional Health Authority, Alberta',
       'East Central Health Authority, Alberta',
       'Westview Regional Health Authority, Alberta',
       'Crossroads Regional Health Authority, Alberta',
       'Capital Health Authority, Alberta',
       'Aspen Regional Health Authority, Alberta',
       'Lakeland Regional Health Authority, Alberta',
       'Mistahia Regional Health Authority, Alberta',
       'Peace Regional Health Authority, Alberta',
       'Keeweetinok Lakes Regional Health Authority, Alberta',
       'Northern Lights Regional Health Authority, Alberta',
       'Northwestern Regional Health Authority, Alberta',
       'British Columbia', 'East Kootenay, British Columbia',
       'West Kootenay-Boundary, British Columbia',
       'North Okanagan, British Columbia',
       'South Okanagan Similkameen, British Columbia',
       'Thompson, British Columbia', 'Fraser Valley, British Columbia',
       'South Fraser Valley, British Columbia',
       'Burnaby/Simon Fraser, British Columbia',
       'Burnaby, British Columbia', 'Simon Fraser, British Columbia',
       'Coast Garibaldi, British Columbia',
       'Central Vancouver Island, British Columbia',
       'Upper Island/Central Coast, British Columbia',
       'Cariboo, British Columbia', 'North West, British Columbia',
       'Peace Liard, British Columbia',
       'Northern Interior, British Columbia',
       'Vancouver/Richmond, British Columbia',
       'Vancouver, British Columbia', 'Richmond, British Columbia',
       'North Shore, British Columbia', 'Capital, British Columbia',
       'Yukon', 'Northwest Territories', 'Nunavut'], dtype=object)

In [34]:
Ontario_rentersdf=filtered_rentersdf[filtered_rentersdf['Location'].str.contains('Ontario')]
Ontario_rentersdf

,Location,Occupancy status,Unit Of Measure,VALUE
Year,,,,
1996,Ontario by District Health Council,"Total, households",Percent,28.0
1996,Ontario by District Health Council,Renters,Percent,44.2
1996,Ontario by District Health Council,Owners,Percent,18.9
1996,"Champlain District Health Council, Ontario","Total, households",Percent,25.9
1996,"Champlain District Health Council, Ontario",Renters,Percent,42.2
...,...,...,...,...
1996,"York Public Health Unit, Ontario",Renters,Percent,41.7
1996,"York Public Health Unit, Ontario",Owners,Percent,25.2
1996,"Toronto Public Health Unit, Ontario","Total, households",Percent,34.7
1996,"Toronto Public Health Unit, Ontario",Renters,Percent,44.8
1996,"Toronto Public Health Unit, Ontario",Owners,Percent,23.5

In [35]:
Ontario_rentersdf.to_csv(r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Cleaned_Datasets\Ontario_Renters.csv",
                    encoding="Utf-8", index=True, header=True)

## Cleaned Dataset .... Husband/Wife Earnings

In [36]:
dffilepath=r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\EarningsWifeHusband11100146-eng\11100146.csv"
df4=pd.read_csv(dffilepath)
df4

,REF_DATE,GEO,DGUID,Statistics,Husband-wife families,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976,Canada,NaN,Percentage of husband-wife families,All husband-wife families,Percent,239,units,0,v25698760,1.1.1,100.0,NaN,NaN,NaN,1
1,1976,Canada,NaN,Percentage of husband-wife families,Total dual-earner families,Percent,239,units,0,v25698761,1.1.2,47.1,NaN,NaN,NaN,1
2,1976,Canada,NaN,Percentage of husband-wife families,"Dual-earner families, wife earned more than hu...",Percent,239,units,0,v25698762,1.1.3,5.6,NaN,NaN,NaN,1
3,1976,Canada,NaN,Percentage of husband-wife families,"Dual-earner families, wife earned less than hu...",Percent,239,units,0,v25698763,1.1.4,40.7,NaN,NaN,NaN,1
4,1976,Canada,NaN,Percentage of husband-wife families,Total single-earner families,Percent,239,units,0,v25698764,1.1.5,43.2,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36795,2011,All other non-selected areas,NaN,Median total family income,"Dual-earner families, wife earned less than hu...",2011 constant dollars,389,units,0,v41907086,30.4.4,95400.0,A,NaN,NaN,0
36796,2011,All other non-selected areas,NaN,Median total family income,Total single-earner families,2011 constant dollars,389,units,0,v41907087,30.4.5,59900.0,B,NaN,NaN,0
36797,2011,All other non-selected areas,NaN,Median total family income,"Single-earner families, husband sole earner",2011 constant dollars,389,units,0,v41907088,30.4.6,61200.0,B,NaN,NaN,0
36798,2011,All other non-selected areas,NaN,Median total family income,"Single-earner families, wife sole earner",2011 constant dollars,389,units,0,v41907089,30.4.7,56800.0,B,NaN,NaN,0
36799,2011,All other non-selected areas,NaN,Median total family income,Neither spouse had earnings,2011 constant dollars,389,units,0,v41907090,30.4.8,38700.0,B,NaN,NaN,0

In [37]:
df4.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Statistics', 'Husband-wife families',
       'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE',
       'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [38]:
new_hw_df=df4.rename(columns={'REF_DATE':'Year', 'GEO':'Location', 'UOM':'Unit Of Measure'})
new_hw_df.sample()

,Year,Location,DGUID,Statistics,Husband-wife families,Unit Of Measure,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
30901,2006,"London, Ontario",35555,Average total family income,"Single-earner families, husband sole earner",2011 constant dollars,389,units,0,v25699285,22.3.6,71900.0,C,NaN,NaN,0

In [39]:
# new_hw_df=rename_husband_wife_earn.set_index('Year')
# new_hw_df.head()

In [40]:
filtered_hwdf=new_hw_df.loc[:,['Year','Location','Statistics', 'Husband-wife families','Unit Of Measure', 'VALUE' ]]
filtered_hwdf

,Year,Location,Statistics,Husband-wife families,Unit Of Measure,VALUE
0,1976,Canada,Percentage of husband-wife families,All husband-wife families,Percent,100.0
1,1976,Canada,Percentage of husband-wife families,Total dual-earner families,Percent,47.1
2,1976,Canada,Percentage of husband-wife families,"Dual-earner families, wife earned more than hu...",Percent,5.6
3,1976,Canada,Percentage of husband-wife families,"Dual-earner families, wife earned less than hu...",Percent,40.7
4,1976,Canada,Percentage of husband-wife families,Total single-earner families,Percent,43.2
...,...,...,...,...,...,...
36795,2011,All other non-selected areas,Median total family income,"Dual-earner families, wife earned less than hu...",2011 constant dollars,95400.0
36796,2011,All other non-selected areas,Median total family income,Total single-earner families,2011 constant dollars,59900.0
36797,2011,All other non-selected areas,Median total family income,"Single-earner families, husband sole earner",2011 constant dollars,61200.0
36798,2011,All other non-selected areas,Median total family income,"Single-earner families, wife sole earner",2011 constant dollars,56800.0
36799,2011,All other non-selected areas,Median total family income,Neither spouse had earnings,2011 constant dollars,38700.0

In [41]:
filtered_hwdf['Location'].unique()

array(['Canada', 'Atlantic provinces', 'Newfoundland and Labrador',
       'Prince Edward Island', 'Nova Scotia', 'New Brunswick', 'Quebec',
       'Ontario', 'Prairie provinces', 'Manitoba', 'Saskatchewan',
       'Alberta', 'British Columbia',
       'Total selected census metropolitan areas', 'Halifax, Nova Scotia',
       'QuÃ©bec, Quebec', 'MontrÃ©al, Quebec',
       'Ottawa-Gatineau, Ontario/Quebec', 'Toronto, Ontario',
       'Hamilton, Ontario', 'St. Catharines-Niagara, Ontario',
       'Kitchener-Cambridge-Waterloo, Ontario', 'London, Ontario',
       'Windsor, Ontario', 'Winnipeg, Manitoba', 'Calgary, Alberta',
       'Edmonton, Alberta', 'Vancouver, British Columbia',
       'Victoria, British Columbia', 'All other non-selected areas',
       "St. John's, Newfoundland and Labrador", 'Sherbrooke, Quebec',
       'Oshawa, Ontario', 'Regina, Saskatchewan',
       'Saskatoon, Saskatchewan'], dtype=object)

In [42]:
filtered_hwdf['Statistics'].unique()

array(['Percentage of husband-wife families',
       'Number of husband-wife families', 'Average total family income',
       'Median total family income'], dtype=object)

In [43]:
filtered_hwdf['Husband-wife families'].unique()

array(['All husband-wife families', 'Total dual-earner families',
       'Dual-earner families, wife earned more than husband',
       'Dual-earner families, wife earned less than husband',
       'Total single-earner families',
       'Single-earner families, husband sole earner',
       'Single-earner families, wife sole earner',
       'Neither spouse had earnings'], dtype=object)

In [44]:
Ontario_hwdf1=filtered_hwdf[filtered_hwdf['Location'].str.contains('^Ontario$')]
Ontario_hwdf1

,Year,Location,Statistics,Husband-wife families,Unit Of Measure,VALUE
224,1976,Ontario,Percentage of husband-wife families,All husband-wife families,Percent,100.0
225,1976,Ontario,Percentage of husband-wife families,Total dual-earner families,Percent,51.9
226,1976,Ontario,Percentage of husband-wife families,"Dual-earner families, wife earned more than hu...",Percent,5.7
227,1976,Ontario,Percentage of husband-wife families,"Dual-earner families, wife earned less than hu...",Percent,45.4
228,1976,Ontario,Percentage of husband-wife families,Total single-earner families,Percent,40.1
...,...,...,...,...,...,...
35931,2011,Ontario,Median total family income,"Dual-earner families, wife earned less than hu...",2011 constant dollars,111300.0
35932,2011,Ontario,Median total family income,Total single-earner families,2011 constant dollars,68200.0
35933,2011,Ontario,Median total family income,"Single-earner families, husband sole earner",2011 constant dollars,70800.0
35934,2011,Ontario,Median total family income,"Single-earner families, wife sole earner",2011 constant dollars,59800.0
35935,2011,Ontario,Median total family income,Neither spouse had earnings,2011 constant dollars,43500.0

In [45]:
Ohwdf2=Ontario_hwdf1[Ontario_hwdf1['Statistics'].str.contains('Number of husband-wife families')]
Ohwdf2

,Year,Location,Statistics,Husband-wife families,Unit Of Measure,VALUE
232,1976,Ontario,Number of husband-wife families,All husband-wife families,Number,1987.0
233,1976,Ontario,Number of husband-wife families,Total dual-earner families,Number,1032.0
234,1976,Ontario,Number of husband-wife families,"Dual-earner families, wife earned more than hu...",Number,113.0
235,1976,Ontario,Number of husband-wife families,"Dual-earner families, wife earned less than hu...",Number,903.0
236,1976,Ontario,Number of husband-wife families,Total single-earner families,Number,796.0
...,...,...,...,...,...,...
35915,2011,Ontario,Number of husband-wife families,"Dual-earner families, wife earned less than hu...",Number,1267.0
35916,2011,Ontario,Number of husband-wife families,Total single-earner families,Number,695.0
35917,2011,Ontario,Number of husband-wife families,"Single-earner families, husband sole earner",Number,487.0
35918,2011,Ontario,Number of husband-wife families,"Single-earner families, wife sole earner",Number,208.0
35919,2011,Ontario,Number of husband-wife families,Neither spouse had earnings,Number,398.0

In [46]:
Ohwdf3=Ohwdf2[Ohwdf2['Husband-wife families'].str.contains('Total dual-earner families')]
Ohwdf3

,Year,Location,Statistics,Husband-wife families,Unit Of Measure,VALUE
233,1976,Ontario,Number of husband-wife families,Total dual-earner families,Number,1032.0
1193,1977,Ontario,Number of husband-wife families,Total dual-earner families,Number,1039.0
2153,1978,Ontario,Number of husband-wife families,Total dual-earner families,Number,1104.0
3113,1979,Ontario,Number of husband-wife families,Total dual-earner families,Number,1140.0
4073,1980,Ontario,Number of husband-wife families,Total dual-earner families,Number,1184.0
5033,1981,Ontario,Number of husband-wife families,Total dual-earner families,Number,1235.0
5993,1982,Ontario,Number of husband-wife families,Total dual-earner families,Number,1201.0
6953,1983,Ontario,Number of husband-wife families,Total dual-earner families,Number,1202.0
7913,1984,Ontario,Number of husband-wife families,Total dual-earner families,Number,1285.0
8873,1985,Ontario,Number of husband-wife families,Total dual-earner families,Number,1347.0
9833,1986,Ontario,Number of husband-wife families,Total dual-earner families,Number,1358.0
10793,1987,Ontario,Number of husband-wife families,Total dual-earner families,Number,1446.0
11753,1988,Ontario,Number of husband-wife families,Total dual-earner families,Number,1520.0
12713,1989,Ontario,Number of husband-wife families,Total dual-earner families,Number,1532.0
13673,1990,Ontario,Number of husband-wife families,Total dual-earner families,Number,1489.0
14633,1991,Ontario,Number of husband-wife families,Total dual-earner families,Number,1483.0
15593,1992,Ontario,Number of husband-wife families,Total dual-earner families,Number,1489.0
16553,1993,Ontario,Number of husband-wife families,Total dual-earner families,Number,1435.0
17513,1994,Ontario,Number of husband-wife families,Total dual-earner families,Number,1424.0
18473,1995,Ontario,Number of husband-wife families,Total dual-earner families,Number,1471.0
19433,1996,Ontario,Number of husband-wife families,Total dual-earner families,Number,1480.0
20393,1997,Ontario,Number of husband-wife families,Total dual-earner families,Number,1514.0
21353,1998,Ontario,Number of husband-wife families,Total dual-earner families,Number,1533.0
22473,1999,Ontario,Number of husband-wife families,Total dual-earner families,Number,1619.0
23593,2000,Ontario,Number of husband-wife families,Total dual-earner families,Number,1655.0
24713,2001,Ontario,Number of husband-wife families,Total dual-earner families,Number,1707.0
25833,2002,Ontario,Number of husband-wife families,Total dual-earner families,Number,1702.0
26953,2003,Ontario,Number of husband-wife families,Total dual-earner families,Number,1738.0
28073,2004,Ontario,Number of husband-wife families,Total dual-earner families,Number,1759.0
29193,2005,Ontario,Number of husband-wife families,Total dual-earner families,Number,1711.0
30313,2006,Ontario,Number of husband-wife families,Total dual-earner families,Number,1737.0
31433,2007,Ontario,Number of husband-wife families,Total dual-earner families,Number,1799.0
32553,2008,Ontario,Number of husband-wife families,Total dual-earner families,Number,1825.0
33673,2009,Ontario,Number of husband-wife families,Total dual-earner families,Number,1810.0
34793,2010,Ontario,Number of husband-wife families,Total dual-earner families,Number,1804.0
35913,2011,Ontario,Number of husband-wife families,Total dual-earner families,Number,1871.0

In [47]:
Ohwdf3.to_csv(r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Cleaned_Datasets\Total dual-earner families in Ontario.csv",
                    encoding="Utf-8", index=False, header=True)

In [48]:
Ohwdf4=Ohwdf2[Ohwdf2['Husband-wife families'].str.contains('Total single-earner families')]
Ohwdf4

,Year,Location,Statistics,Husband-wife families,Unit Of Measure,VALUE
236,1976,Ontario,Number of husband-wife families,Total single-earner families,Number,796.0
1196,1977,Ontario,Number of husband-wife families,Total single-earner families,Number,754.0
2156,1978,Ontario,Number of husband-wife families,Total single-earner families,Number,716.0
3116,1979,Ontario,Number of husband-wife families,Total single-earner families,Number,704.0
4076,1980,Ontario,Number of husband-wife families,Total single-earner families,Number,684.0
5036,1981,Ontario,Number of husband-wife families,Total single-earner families,Number,645.0
5996,1982,Ontario,Number of husband-wife families,Total single-earner families,Number,655.0
6956,1983,Ontario,Number of husband-wife families,Total single-earner families,Number,661.0
7916,1984,Ontario,Number of husband-wife families,Total single-earner families,Number,598.0
8876,1985,Ontario,Number of husband-wife families,Total single-earner families,Number,588.0
9836,1986,Ontario,Number of husband-wife families,Total single-earner families,Number,594.0
10796,1987,Ontario,Number of husband-wife families,Total single-earner families,Number,555.0
11756,1988,Ontario,Number of husband-wife families,Total single-earner families,Number,507.0
12716,1989,Ontario,Number of husband-wife families,Total single-earner families,Number,506.0
13676,1990,Ontario,Number of husband-wife families,Total single-earner families,Number,556.0
14636,1991,Ontario,Number of husband-wife families,Total single-earner families,Number,562.0
15596,1992,Ontario,Number of husband-wife families,Total single-earner families,Number,563.0
16556,1993,Ontario,Number of husband-wife families,Total single-earner families,Number,554.0
17516,1994,Ontario,Number of husband-wife families,Total single-earner families,Number,606.0
18476,1995,Ontario,Number of husband-wife families,Total single-earner families,Number,594.0
19436,1996,Ontario,Number of husband-wife families,Total single-earner families,Number,594.0
20396,1997,Ontario,Number of husband-wife families,Total single-earner families,Number,595.0
21356,1998,Ontario,Number of husband-wife families,Total single-earner families,Number,574.0
22476,1999,Ontario,Number of husband-wife families,Total single-earner families,Number,581.0
23596,2000,Ontario,Number of husband-wife families,Total single-earner families,Number,607.0
24716,2001,Ontario,Number of husband-wife families,Total single-earner families,Number,594.0
25836,2002,Ontario,Number of husband-wife families,Total single-earner families,Number,628.0
26956,2003,Ontario,Number of husband-wife families,Total single-earner families,Number,631.0
28076,2004,Ontario,Number of husband-wife families,Total single-earner families,Number,632.0
29196,2005,Ontario,Number of husband-wife families,Total single-earner families,Number,675.0
30316,2006,Ontario,Number of husband-wife families,Total single-earner families,Number,667.0
31436,2007,Ontario,Number of husband-wife families,Total single-earner families,Number,663.0
32556,2008,Ontario,Number of husband-wife families,Total single-earner families,Number,656.0
33676,2009,Ontario,Number of husband-wife families,Total single-earner families,Number,683.0
34796,2010,Ontario,Number of husband-wife families,Total single-earner families,Number,728.0
35916,2011,Ontario,Number of husband-wife families,Total single-earner families,Number,695.0

In [49]:
Ohwdf4.to_csv(r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Cleaned_Datasets\Total single-earner families in Ontario.csv",
                    encoding="Utf-8", index=False, header=True)

In [50]:
Ohwdf2.to_csv(r"C:\Users\Eleshia\Desktop\DA Boot Camp\Renters-Anonymous\Cleaned_Datasets\Husband and wife earners.csv",
                    encoding="Utf-8", index=False, header=True)